.project
.settings/
.idea/
scaleimage-addon/.classpath
scaleimage-addon/.project
scaleimage-addon/.settings/
scaleimage-addon/target/
scaleimage-addon/scaleimage-addon.iml
scaleimage-demo/.classpath
scaleimage-demo/.project
scaleimage-demo/.settings/
scaleimage-demo/src/main/webapp/VAADIN/gwt-unitCache/
scaleimage-demo/src/main/webapp/VAADIN/widgetsets/
scaleimage-demo/target/
scaleimage-demo/scaleimage-demo.iml
scaleimage.iml
scaleimage-demo/src/main/webapp/VAADIN/themes/demo/styles.css
